.banner img {
  width: 100%;
}
.banner {
  position: relative;
}
.descriptions {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 6rem;
  width: 30%;
  font-style: italic;
}
.descriptions p {
  font-size: 1.8rem;
  color: #7a7a7a;
  margin-bottom: 15px;
}
.descriptions h2 {
  font-size: 3.5rem;
  font-weight: 400;
}
.descriptions button {
  margin-top: 20px;
}
