.banner-cart {
  height: 12rem;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  font-style: italic;
  margin-bottom: 30px;
  /* font-weight: 300; */
}
.banner-cart h2 {
  font-size: 2.4rem;
  font-weight: 600;
}
.banner-cart p {
  font-size: 1.5rem;
}
