.bill-detail {
  font-style: italic;
  padding-bottom: 40px;
}
.bill-detail h2 {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 30px;
}
.content {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 50px;
}
.form-order input {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  border: 1px solid #6666;
  margin-top: 10px;
}
.form-order div {
  margin-bottom: 20px;
}
.form-order button {
  color: white;
  background-color: black;
  padding: 8px 15px;
  border: 1px solid black;
}
.form-order button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
.desc-box {
  background-color: #f3f3f3;
  border-radius: 4px;
  padding: 50px;
  height: fit-content;
}
.desc-box h3 {
  margin-bottom: 25px;
  font-weight: 600;
}
.el-order {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #6666;
  margin-top: 20px;
}
.el-order h5 {
  font-weight: 500;
  font-size: 0.9rem;
  width: 60%;
}
.el-order p {
  font-size: 0.8rem;
  color: #20202066;
}
.total {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.total h4 {
  font-weight: 600;
}
