.category {
  margin-top: 30px;
}
.product-column {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.description-img img {
  width: 100%;
  border-radius: 10px;
}
/* .description-img:hover {
} */
.isHovered {
  opacity: 0.8;
  cursor: pointer;
}
.product {
  width: 100%;
  margin: 10px;
}
.tittle {
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}
.tittle p {
  color: #7a7a7a;
  font-size: 1.2rem;
}
.tittle h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
