.liveChat {
  position: fixed;
  bottom: 3%;
  right: 2%;
  background-color: black;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 12px;
  font-size: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.liveChat:hover {
  cursor: pointer;
}
.chat-box {
  position: fixed;
  z-index: 99999999;
  height: 500px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 1px 1px 10px 1px #6666;
  background-color: white;
  bottom: 10%;
  right: 5%;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  /* padding: 15px 15px; */
}
.header {
  border-bottom: 1px solid #6666;
  padding: 15px 30px 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header button {
  font-size: 0.8rem;
  padding: 5px 10px;
  border: none;
  color: #1b1b1b66;
  /* background-color: white; */
}
.content {
  height: 100%;
}
.footer {
  /* border-radius: 12px; */
  width: 100%;
  border-top: 1px solid #b4b4b466;
  background-color: #f1f1f1;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.avatar {
  color: yellow;
  padding: 10px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #666;
}
.footer input {
  padding: 6px 15px;
  margin-left: 10px;
  border: none;
}
.actions {
  display: flex;
  align-items: center;
  /* margin: 0 10px; */
  margin-left: 10px;
}
.actions div {
  margin: 0 5px;
}
.actions div:hover {
  cursor: pointer;
}
.send-file,
.send-icon {
  color: #6666;
}
.send-message {
  color: #1379ff9d;
}
.content {
  padding: 15px;
  overflow-y: scroll;
}
/* .content::-webkit-scrollbar {
  display: none;
}

.content::-webkit-scrollbar-thumb {
  display: none;
} */
.message {
  margin-bottom: 10px;
  display: flex;
}
.user-message {
  justify-content: flex-end;
}
.user {
  background-color: #1379ff9d;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  justify-content: flex-end;
  max-width: 270px;
}
.admin {
  background-color: #f1f1f1;
  color: #a5a5a5;
  padding: 5px 10px;
  border-radius: 8px;
  max-width: 270px;
}
.admin-message-container {
  display: flex;
  align-items: center;
}
.admin-message-container .avatar {
  transform: scale(0.8);
  margin: 0;
}
.hide {
  display: none;
}
.footer button {
  border: none;
}
.admin-chat {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.admin-chat svg {
  font-size: 1.6rem;
  margin-right: 5px;
}
.admin-chat-content {
  background-color: #1379ff9d;
  display: inline-block;
  max-width: 220px;
  padding: 10px;
  border-radius: 8px;
  color: white;
  word-break: break-all;
}
.user-chat {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.user-content-chat {
  word-break: break-all;
  display: inline-block;
  max-width: 220px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f1f1f1;
}
