.sign-up {
  width: 30%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px 1px #dddddd;
  border-radius: 8px;
  padding-bottom: 40px;
  font-style: italic;
  background-color: white;
  position: relative;
}
.sign-up h3 {
  margin-bottom: 60px;
  text-align: center;
  font-weight: 300;
  color: #7a7a7a;
  font-size: 2.5rem;
  padding-top: 100px;
}
.input-container {
  border: 1px solid #dddddd;
  width: 70%;
  margin: 0 auto;
  border-bottom: none;
}
.sign-up input {
  width: 100%;
  display: block;
  margin: 0 auto;

  padding: 20px 0 20px 20px;
  border: none;
  border-bottom: 1px solid #dddddd;
}
.actions {
  text-align: center;
  margin-bottom: 20px;
}
.actions button {
  /* color: #7a7a7a; */
  margin-top: 30px;
  padding: 15px 0;
  border-radius: 4px;
  width: 70%;
  margin-bottom: 50px;
  /* background-color: aqua; */
}
.actions p {
  color: #7a7a7a;
}
.actions a {
  color: rgb(125, 125, 253);
  text-decoration: none;
}
.actions a :hover {
  cursor: pointer;
}
.message-alert {
  position: absolute;
  left: 75px;
  top: 190px;
  color: red;
}
