.header {
  width: 100rem;
  margin: 0 auto;
  height: 5rem;
}
.header nav {
  width: 100%;
  height: 100%;
}
.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 100%;
  /* text-decoration: none; */
}
.title {
  font-size: 2rem;
  font-style: italic;
}
.header a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  font-style: italic;
}
.nav a:hover,
.nav a:active,
.nav a.active {
  color: #741188;
}
/* .right-nav a {
  margin: 0 10px;
  text-decoration: none;
} */
.nav svg {
  color: #616161;
  margin-right: 4px;
}
