.informations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f3f3f3;
  padding: 70px 0;
  text-align: center;
  font-style: italic;
}
.information h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.information p {
  color: #7a7a7a;
  font-size: 1.2rem;
}
.subscribe-form {
  height: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.title-subscribe-form {
  margin-top: 60px;
}
.title-subscribe-form h3 {
  font-size: 1.8rem;
  font-weight: 600;
}
.form-input {
  font-size: 1.6rem;
  height: 3.5rem;
  display: flex;
  margin-top: 60px;
  /* pad */
  /* display: grid; */
  /* grid-template-columns: 1fr auto; */
}
.form-input input {
  height: 100%;
  width: 100%;
  padding-left: 30px;
  margin-right: 5px;
}
.form-input button {
  height: 100%;
  /* padding: 3rem; */
  /* border: 1px solid black; */
}
