.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  text-align: center;
  font-style: italic;
  margin-bottom: 40px;
}
.products-container img {
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.product-img {
  margin-bottom: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.product {
  box-shadow: 1px 1px 4px 1px rgba(218, 218, 218, 0.26);
  border-radius: 5px;
  padding-bottom: 10px;
}
.product p {
  margin: 5px;
  font-size: 1.2rem;
  color: #7a7a7a;
}
.title {
  margin: 40px 0 30px 0;
  font-style: italic;
}
.title h4 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #7a7a7a;
  margin-bottom: 5px;
}
.title h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
.isHovered {
  opacity: 0.8;
  cursor: pointer;
}
