.product-popup {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  /* grid-template-columns: auto 1fr; */
  box-shadow: 2px 2px 10px 2px #e4e4e4;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  align-items: center;
  /* transform: scale(0.5); */
  width: 60vw;
  height: 80vh;
}
.img-popup {
  width: 50%;
}
.img-popup img {
  width: 100%;
}
.product-popup button {
  position: absolute;
  right: 10px;
  top: 10px;
}
.descriptions {
  width: 50%;
  margin-right: 50px;
  /* height: 100%; */
  font-style: italic;
  /* margin: 30px; */
}
.descriptions h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.descriptions h4 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.descriptions p {
  text-align: justify;
  font-size: 1.2rem;
}
.descriptions button {
  position: relative;
  margin-top: 20px;
  font-size: 1.2rem;
  right: 0;
  /* padding: 1rem 2rem; */
  border-radius: 8px;
}
.back-drop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 98;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 30px;
}
.descriptions svg {
  margin-right: 10px;
}
.view-detail-btn {
  border: none;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 8px 15px;
}
.view-detail-btn:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
