.related-products img {
  width: 100%;
}
.related-products {
  margin-bottom: 40px;
  display: flex;
}
.related-product {
  width: 15%;
  margin-right: 10px;
}
.text {
  text-align: center;
  line-height: 1.7;
}
.text h4 {
  font-weight: 600;
}
.text p {
  color: #7a7a7a;
}
