.shopping-cart {
  font-style: italic;
}
.shopping-cart h2 {
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: 500;
}
.table {
  width: 100%;
}
.table tr {
  text-align: center;
  /* padding: 10px 0; */
}
.el-cart img {
  width: 100%;
}
.el-cart {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.el-cart td {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  margin-top: 5px;
  /* text-align: center; */
}
.price {
  padding: 0 50px;
  color: #666666;
  /* background-color: aqua; */
}
.remove {
  color: #666666;
}
.table thead tr {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #f3f3f3;
  padding: 15px;
  border-radius: 4px;
}
.name h4 {
  font-size: 1rem;
  font-weight: 500;
}
.content {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 50px;
}
.cart-total {
  border-radius: 4px;
  background-color: #f3f3f3;
  height: 390px;
  /* text-align: center; */
  padding: 50px;
  font-style: italic;
}
.cart-total h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.cart-total h4 {
  font-weight: 400;
  font-size: 1.4rem;
}
.subtotal {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.subtotal h5 {
  font-weight: 400;
  font-size: 1.2rem;
}
.total {
  display: flex;
  justify-content: space-between;
}
.total h5 {
  font-weight: 400;
  font-size: 1.4rem;
}
.redeem-form {
  margin-top: 40px;
}
.redeem-form input {
  display: block;
  width: 95%;
  margin: 0 auto;
  height: 40px;
  padding-left: 20px;
  margin-bottom: 10px;
}
.redeem-form button {
  /* margin-top: 10px; */
  width: 95%;
  margin: 0 auto;
  display: block;
  font-weight: 400;
  padding: 10px 0;
}
.nav-actions {
  background-color: #f3f3f3;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin-bottom: 30px;
}
.check {
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 4px;
  color: #666666;
}
.shopping {
  color: #666666;
}
.check:hover,
.shopping:hover {
  cursor: pointer;
}
.quantity {
  font-size: 1.2rem;
}
.quantity span {
  display: inline-block;
  padding: 4px;
  /* display: flex; */
  /* width: 50%; */
  /* flex-direction: row; */
}
.quantity svg:hover {
  cursor: pointer;
}
