.shop-page-content {
  display: flex;
  font-style: italic;
}
.nav {
  width: 25%;
}
.nav-options-container {
  margin-top: 30px;
}
.nav-options-container div {
  padding: 20px 40px;
}

.title-nav {
  background-color: #f3f3f3;
  font-weight: 600;
}
.title-nav-spec {
  background-color: black;
  color: white;
  font-weight: 600;
}
.content {
  width: 100%;
}

.actions-bar {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
.actions-bar input {
  height: 2.6rem;
  width: 30%;
  padding-left: 20px;
  border: none;
  box-shadow: 2px 2px 5px 2px #dddddd;
}
.sort-select {
  width: 12%;
  text-align: center;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  grid-gap: 20px;
}
.product-container img {
  width: 100%;
}
.product-el {
  padding: 5px;
  box-shadow: 2px 2px 5px 2px #e2e2e2;
  border-radius: 8px;
}
.text {
  padding-bottom: 15px;
  text-align: center;
  margin-top: 10px;
  line-height: 1.7;
}
.text p {
  font-size: 1.1rem;
}
.hiden {
  display: none;
}
.isActive {
  color: #741188;
  text-decoration: underline;
}
.nav-option:hover {
  cursor: pointer;
  color: #741188;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
