.footer {
  color: white;
  background-color: black;
  padding: 5rem 0;
}
.content {
  width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}
.content ul {
  list-style: none;
}
.footer-column {
  margin-left: 30px;
}
.footer-column h3 {
  margin-bottom: 15px;
  font-weight: 600;
}
.footer-column li {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.8;
  /* font: 100; */
}
