.login {
  width: 600px;
  margin: 60px auto 0 auto;
  box-shadow: 1px 1px 10px 1px #ddd;
  border-radius: 8px;
  text-align: center;
  /* padding-bottom: 30px; */
}
.login h2 {
  padding-top: 50px;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 700;
}
.login-form {
  width: 100%;
  position: relative;
  padding-bottom: 60px;
}
.login-form input {
  padding-left: 10px;
  display: block;
  margin: 0 auto 30px auto;
  width: 50%;
  height: 40px;
}
.login-form button {
  padding: 10px 0;
  width: 50%;
  border: none;
  background-color: #6300c0;
  border-radius: 8px;
  color: white;
  font-size: 1.2rem;
}
.login-form button:hover {
  cursor: pointer;
}
.hide {
  display: none;
}
.message {
  color: #8d0000;
  position: absolute;
  background-color: #e08c8c;
  border: 1px solid #8d0000;
  padding: 4px 20px;
  border-radius: 8px;
  top: -38px;
  left: 50%;
  transform: translate(-50%, 0);
}
