.live-chat {
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  background-color: #f1f1f1;
}
.live-chat h3 {
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  /* margin-bottom: 5px; */
}
.live-chat h6 {
  font-size: 1rem;
  font-weight: 600;
}
.chat-box {
  width: 100%;
  margin-top: 30px;
  /* padding: 20px; */
  border-radius: 8px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* grid-gap: 10px; */
}
.left {
  border-right: 1px solid #f1f1f1;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
}
.search {
  padding: 20px;
  border-bottom: 1px solid #f1f1f1;
}
.search input {
  height: 40px;
  width: 100%;
  padding: 10px;
  border: 1px solid #f1f1f1;
}
.search input:focus {
  outline: none;
}
/* .chat-display {
  background-color: white;
} */
.chat-area {
  height: 600px;
  padding: 20px;
  overflow-y: scroll;
}
.chat-area::-webkit-scrollbar {
  display: none;
}

.chat-area::-webkit-scrollbar-thumb {
  display: none;
}
.chat-input {
  border-top: 1px solid #f1f1f1;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.chat-input input {
  resize: none;
  font-size: 1.2rem;
  padding: 20px;
  width: 92%;
  height: 100%;
  border: none;
  display: inline-block;
}
.chat-input input:focus {
  outline: none;
}
/* .chat-input textarea::-webkit-scrollbar {
  width: 0;
  display: none;
} */
.send-btn {
  margin: auto auto;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: #77cbd1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: #77cbd1;
}
.contact-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contact {
  width: 100%;
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 1px solid #f1f1f1;
}
.contact:hover {
  cursor: pointer;
}
.content-contact h5 {
  display: inline-block;
  margin-left: 10px;
}
.active {
  background-color: #77cbd1;
  color: white;
}
.mess-el {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.mess-el svg {
  font-size: 1.8rem;
}
.mess-content {
  width: fit-content;
  max-width: 50%;
  background-color: #77cbd1;
  padding: 10px;
  border-radius: 12px;
  color: white;
  display: inline-block;
  margin-left: 10px;
}
.mess-admin {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  /* height: fit-content; */
}
.mess-content-admin {
  width: fit-content;
  height: fit-content;
  max-width: 50%;
  padding: 10px;
  border-radius: 12px;
  /* display: inline-block; */
  color: black;
  background-color: #f1f1f1;
}
