.banner {
  background-color: #f1f1f1;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-style: italic;
  align-items: center;
}
.banner h3 {
  font-size: 2rem;
  font-weight: 600;
}
.table {
  width: 100%;
  font-style: italic;
  margin-bottom: 30px;
  text-align: center;
}
.thead th {
  background-color: #f1f1f1;
  padding: 10px;
  font-weight: 600;
}
.table tbody {
  color: #8a8a8a;
}
.table button {
  background-color: transparent;
  padding: 4px 8px;
  margin-top: 2px;
}
.table button:hover {
  background-color: black;
  color: white;
}
.table td {
  padding: 10px;
}
.detail-order {
  padding: 10px;
  line-height: 1.6;
}
.detail {
  width: 100%;
  font-style: italic;
  margin-bottom: 30px;
  text-align: center;
}
.detail th {
  background-color: #f1f1f1;
  padding: 10px;
  font-weight: 600;
}
.detail td {
  padding: 10px;
  color: #8a8a8a;
}
.detail img {
  width: 200px;
}
