.product-detail {
  display: grid;
  grid-template-columns: 2fr 3fr;
  /* margin-top: 30px; */
  font-style: italic;
  align-items: center;
  margin: 30px 30px 50px 30px;
}
.product-detail img {
  width: 100%;
}
.img-detail {
  display: flex;
  align-items: center;
}
.product-img {
  /* margin-left: 30px; */
  display: grid;
  grid-template-columns: 2fr 8fr;
}
.img-el {
  /* padding: 5px; */
  border-radius: 8px;
  margin: 10px;
  box-shadow: 1px 1px 10px 1px #e2e2e2;
}
.img-options {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.product-overview {
  padding: 20px 30px;
}
.product-overview h2 {
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.product-overview h6 {
  font-weight: 200;
  font-size: 1.8rem;
  color: #7a7a7a;
  margin-bottom: 20px;
}
.short-desc {
  color: #7a7a7a;
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: justify;
}
.category span {
  font-weight: 600;
  font-size: 1.2rem;
}
.category {
  padding: 5px;
  margin-bottom: 20px;
}

.cart-action {
  display: flex;
  align-items: center;
  /* margin-left: 30px; */
}
.quantity {
  /* height: 2rem; */
  border: 1px solid black;
  display: flex;
  width: 30%;
  justify-content: space-between;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  color: #e2e2e2;
  /* box-shadow: 1px 1px 10px 1px #e2e2e2; */
}
.choose-quantity {
  color: black;
  font-size: 1.2rem;
}
.quantity-btn {
  border: none;
}
.desc-detail {
  margin-top: 30px;
}
.desc-detail button {
  margin-left: 10px;
  /* background-color: aqua; */
  padding: 1rem 2.5rem;
}
/* text-desc */
.text-desc {
  font-style: italic;
}
.text-desc h2 {
  margin: 20px 0 10px 0;
  font-weight: 600;
}
.text {
  color: #7a7a7a;
  line-height: 1.7;
  margin-left: 15px;
}
.text h3 {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5px;
}
/* related-products */
.related-products {
  margin-top: 30px;
  font-style: italic;
}
.related-products h2 {
  font-weight: 600;
}
