.button {
  font: inherit;
  border: 1px solid #292929;
  background: #292929;
  color: white;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}
