.dashboard h2 {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 1.8rem;
}

.infor-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
.board-el {
  width: 100%;
  box-shadow: 1px 1px 5px 1px #ddd;
  height: 120px;
  border-radius: 8px;
  position: relative;
  padding: 15px;
}
.board-el h6 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: black;
}
.board-el p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #a8a8a8;
}
.board-icon {
  width: 30px;
  justify-content: center;
  height: 30px;
  background-color: #f0bcbc;
  color: #8d0000;
  /* background-color: #f4c7ff;
  color: #8e009b; */
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: absolute;
  bottom: 50%;
  right: 10px;
  transform: translate(0, 50%);
}
.transactions {
  padding: 20px;
}
.transactions h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
  height: 550px;
  border: 1px solid #ddd;
}
.transactions table {
  border-collapse: collapse;
  width: 100%;
}
.transactions table th {
  border-right: 1px solid #ddd;
}
.transactions table td {
  padding: 12px;
}
.transactions thead {
  height: 50px;
  border-bottom: 1px solid #ddd;
}
.transactions tbody tr {
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.page {
  border-top: 1px solid #ddd;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: end;
  bottom: 0;
  height: 60px;
  background-color: #f7f7f7;
}
.page-display {
  display: flex;
  align-items: center;
}
.page-actions {
  margin: 0 10px;
  width: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.booked {
  background-color: #eeba89;
  color: #1a8a36;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
}
.checkin {
  background-color: #99f3b0;
  color: #1a8a36;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
}
.checkout {
  background-color: #ffacf8;
  color: #1a8a36;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
}
