.input label {
  display: block;
  margin-bottom: 5px;
}
.input {
  width: 600px;
  margin: 0px auto 15px auto;
}
.form {
  width: 800px;
  background-color: #f1f1f1;
  padding: 20px;
  margin: 40px auto;
  border-radius: 4px;
}
.input input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ddd;
}
.input input::placeholder {
  color: #ddd;
}
.input button {
  background-color: #6300c0;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
}
